body {
    font-family: 'Poppins', sans-serif;
    background-color: #eef2f7;
    color: #2c3e50;
    margin: 0;
}

/* container */
.container {
    max-width: 900px;
    margin: 50px auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

/* header */
.header {
    display: flex;
    align-items: center;
    gap: 20px;
    /* margin-bottom: 30px; */
}

.profile-left {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.header-text h1 {
    margin: 0;
    color: #1f3c88;
}

.subtitle {
    color: gray;
    font-size: 14px;
    margin-top: 5px;
}

.mini-about {
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.6;
    color: #555;
}

/* sections */
section {
    margin-top: 40px;
}

h2 {
    color: #2d6cdf;
    border-bottom: 2px solid #eef2f7;
    padding-bottom: 5px;
}

/* projects grid */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* cards */
.card {
    background: #f7f9fc;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h3 {
    margin: 10px 0 5px;
}

.card p {
    font-size: 14px;
    color: #555;
}

/* hover effect */
.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* button */
a {
    display: inline-block;
    margin-top: 10px;
    background: linear-gradient(135deg, #2d6cdf, #4a8cff);
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

a:hover {
    transform: translateY(-2px);
}

/* profile-hero */
.hero {
    text-align: center;
    background: #eaf1ff;
    padding: 40px 20px;
    border-radius: 12px;
}

.profile-hero {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.hero h1 {
    margin: 10px 0 5px;
    color: #1f3c88;
}

.hero-subtitle {
    color: #555;
    font-size: 14px;
}


.about-text {
    margin-top: 10px;
    line-height: 1.7;
    color: #555;
}

