body {
    font-family: 'Poppins', sans-serif;
    background-color: #eef2f7;
    /*background-color: #f5f7fb;*/
    color: #2c3e50;
    margin: 0;
}

/* container */
.container {
    margin: 180px;
    /*max-width: 900px;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);*/
}

/* header */
/* hero header */
/* HERO BACKGROUND */
.hero {
    position: relative;
}

/* بک‌گراند عکس 
.hero-bg {
    background: url("bg.jpg") center/cover no-repeat;
    height: 180px;
}*/
.hero-bg {
    background: #eaf1ff;
    height: 200px;
}

/*
اگر بخوای یه ذره “طراحی‌تر” بشه:

.hero-bg {
    background: linear-gradient(135deg, #eaf1ff, #d6e4ff);
    height: 160px;
    border-radius: 12px 12px 0 0;
}
*/

/* محتوا */
.hero-content {
    position: absolute;
    bottom: -60px; /* 👈 این باعث میشه عکس بیاد پایین */
    left: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* عکس پروفایل */
.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
    background: white;
}

/* متن */
.hero-text h1 {
    margin: 0;
    color: #1f3c88;
}

.hero-text p {
    margin-top: 5px;
    color: #555;
    font-size: 14px;
}

/* sections */
section {
    margin-top: 40px;
}

h2 {
    color: #2d6cdf;
    border-bottom: 2px solid #eef2f7;
    padding-bottom: 5px;
}

/* projects grid */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* cards */
.card {
    background: #f7f9fc;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h3 {
    margin: 10px 0 5px;
}

.card p {
    font-size: 14px;
    color: #555;
}

/* hover effect */
.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* button */
a {
    display: inline-block;
    margin-top: 10px;
    background: linear-gradient(135deg, #2d6cdf, #4a8cff);
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

a:hover {
    transform: translateY(-2px);
}


.hero h1 {
    margin: 10px 0 5px;
    color: #1f3c88;
}

.hero-subtitle {
    color: #555;
    font-size: 14px;
}


.about-text {
    margin-top: 15px;
    line-height: 1.7;
    color: #555;
}

.hero-bg {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
                url("bg.jpg") center/cover no-repeat;
}